@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

*{margin: 0; padding: 0; box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none; color: #212121; display: block; white-space: nowrap; /*텍스트 줄바꿈 방지*/
    font-family: 'Noto Sans KR', sans-serif;}
img{width: 100%;}
html, body {
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;  /*가로 스크롤 숨김*/
}
.st0{fill:none;stroke:#ffffff;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;height: 100%;}
.st1 { fill:#ffffff; }
header, section, footer {
    width: 100%;
}
.wrap { width: 100%;}

/* 모바일 버전 */
.center {width: 100%; margin: 0 auto;}
header {
    position: fixed;
    left: 0; top: 0;
    background-color: transparent;
    z-index: 100;
    height: 65px; 
    padding: 4%;
}
header.minimize {
    background-color: #fff;
}

header .center {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .center .logo {
    /* 접속한 장치의 가로길이를 100%로 보고 그 길이의 20% */
    /* %단위는 부모객체(.center)기준임 */
    width:40vw;
    /* height: 25px;
    background-image: url(../img/logo_v1.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

/* 모바일 버전에서는 내비게이션 안보임 */
header .center nav {
    display: block;
    position: fixed;
    right: -100%;
    top: 60px;
    z-index: 110;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 10vw 0;
}
/* 주메뉴 활성화 */
header .center nav > ul > li > a.active {
    color: #AA1803;
}
/* 주메뉴 옆에 +버튼 */
header .center nav > ul > li > a {
    position: relative;
}
header .center nav > ul > li > a:before {
    position: absolute;
    content: "";
    width: 3px;
    height: 16px;
    background-color: #222;
    right: 10vw;
    top: 50%;
    transform: translateY(-50%);
}
header .center nav > ul > li > a:after {
    position: absolute;
    content: "";
    width: 19.3px;
    height: 3px;
    background-color: #222;
    right: 8.2vw;
    top: 50%;
    transform: translateY(-50%);
}
header .center nav > ul > li > a.active:before {
    opacity: 0;
}
header .center nav > ul > li > a.active:after {
    background-color: #AA1803;
}

header .center nav ul li a {
    font-size: 6vw;
    padding: 2vw 10vw;
    font-weight: bold;
}
header .center nav .sub {
    background-color: #f4f4f4;
    padding: 4vw 12vw;
    margin-bottom: 5vw;
    display: none;
}

header .center nav .sub li a {
    font-size: 4vw;
    font-weight: normal;
    padding: 1.6vw;
    color: #333;
}
/* 모바일 버전에서는 서브메뉴 배경 숨김 */
header .sub_bg {
    display: none;
}

header .center .top_menu {
    width: 16vw;
}
header .center .top_menu ul {
    display: flex;
    justify-content: space-between;
}
header .center .top_menu ul li {
    width: 7vw;
    height: 7vw;
}
header .center .top_menu ul li svg {
    width: 100%;
}
header.minimize .center .top_menu ul li .st1 {
    fill: #333;
}
header.minimize .center .top_menu ul li .st0 {
    stroke: #333;
}


/* 메인 슬라이드의 페이지네이션 위치 변경 */
section .swiper-pagination {
    bottom: 30px;
}
/* 메인 슬라이드의 페이지네이션 커스텀 */
section .swiper-pagination-bullet {
    width: 40px;
    height:5px;
    border-radius: 0;
}
/* 메인 슬라이드의 페이지네이션 활성화 되었을 때 스타일 커스텀 */
.swiper .swiper-pagination-bullet-active {
    background-color: #AA1803;
}


/* 메인 슬라이드 - swiper */
section .main .swiper-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* 접속한 모바일 장치의 세로길이만큼 슬라이드 높이 설정 */
    height: 100vh;
}
section .main .s1 {
    background-image: url(../img/mobile_slide_1.jpg);
}
section .main .s2 {
    background-image: url(../img/mobile_slide_2.jpg);
}
section .main .s3 {
    background-image: url(../img/mobile_slide_3.jpg);
}
/* 그룹 선택자(,) */
.sec2, .sec3, .sec4, .sec5, .sec6 {
    padding: 60px 20px;
}
.sec3, .sec4 {
    padding-right: 0;
}
section .center {
    width: 100%;
    display: flex;
    flex-flow: column nowrap; /*자식 div를 열기준으로 배열*/
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    overflow: hidden;
}
.sec2 .center div {
    width: 100%;
    padding: 5vw;
    border: 1px solid #B0B4BA;
    border-radius: 40px;
    background-image: url(../img/person.png);
    background-position: 10px 18px;
    background-repeat: no-repeat;
    background-size: 10%;
}
.sec2 .center .store {
    background-image: url(../img/location_icon.png);
}
section .center h2 {
    font-size: 30px;
    color: #AA1803;
    margin-left: 25px;
}
section .center div button {
    padding: 10px 30px;
    background-color: #AA1803;
    border-radius: 20px;
    border: none;
    margin-top: 10px;

}
section .center div button a {
    color: #aaa;
}
.sec3 .center .content h2,
.sec4 .center .content h2 {
    margin-left: 0;
}
.sec3 {
    background-color: #ededed;
}
.sec3 .center {
    align-items: flex-start;
}
.sec3 .center, .sec4 .center {
    align-items: flex-start;
    
}
.sec3 .center .content p,
.sec4 .center .content p {
    margin: 10px 0 30px;
}
.sec3 .swiper,
.sec4 .swiper {
    margin-top: 30px;
    width: 100%;
    overflow: visible;
}
.sec3 .swiper .swiper-slide,
.sec4 .swiper .swiper-slide {
    padding: 20px;
    border-radius: 30px;
}
.sec3 .swiper .swiper-slide h3,
.sec4 .swiper .swiper-slide h3{
    color: #212121;
    font-size: 16px;
    margin-top: 20px;
}
.sec3 .swiper .swiper-slide p,
.sec4 .swiper .swiper-slide p{
    text-indent: 0;
}
/* progressbar 숨김 */
.sec3 .swiper .swiper-pagination,
.sec4 .swiper .swiper-pagination{
    display: none;
}
/* prev 버튼, next버튼 숨김 */
.sec3 .swiper .swiper-button-prev,
.sec4 .swiper .swiper-button-prev,
.sec3 .swiper .swiper-button-next,
.sec4 .swiper .swiper-button-next {
    display:none;
}
section .swiper .swiper-slide .image {
    width: 100%;
    height: 330px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px 20px 0 0;
}
.sec3 .new-menu .swiper-slide .img1 {
    background-image: url(../img/night.jpg);
}
.sec3 .new-menu .swiper-slide .img2 {
    background-image: url(../img/meun-slide01.jpg);
}
.sec3 .new-menu .swiper-slide .img3 {
    background-image: url(../img/커피베이_핫도그.jpg);
}
.sec3 .new-menu .swiper-slide .img4 {
    background-image: url(../img/menu_slide04.jpg);
}

.sec4 .notice .swiper-slide .img1 {
    background-image: url(../img/menu_price.PNG);
}
.sec4 .notice .swiper-slide .img2 {
    background-image: url(../img/gogreen.png);
}
.sec4 .notice .swiper-slide .img3 {
    background-image: url(../img/notice_slide.PNG);
}
.sec4 .notice .swiper-slide .img4 {
    background-image: url(../img/notice_slide04.jpg);
}
.sec5 {
    background-color: #ededed;
}
.sec5 p {
    margin: 30px 0;
    font-size: 15px;
}
.sec5 .photo {
    display: none;
}
.sec5 .center > div {
    width: 100%;
}
.sec5 .statis ul li {
    white-space: nowrap;
    display: flex;
    flex-flow:row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    
}
.sec5 .statis ul li img {
    width: 30px;
    margin: 8px 0;
}
.sec5 .statis ul li div {
    margin-left: 8vw;
}
.sec5 .statis ul li p {
    margin: 0;

}
.sec5 .statis ul li div span {
    font-size: 11vw;
}
.sec5 .statis ul li div b {
    font-weight: normal;
}
.sec6 .center {
    gap: 0;
    align-items: flex-start;
}
.sec6 .center p {
    margin: 30px 0;
    font-size: 16px;
    line-height: 30px;
}
.sec6 .center .sns {
    margin-top: 60px;
    width: 100%;
    height: 720px;

}
.sec6 .center .sns ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr); /*좌,우(열기준)*/
    grid-auto-rows: minmax(80%, auto);/*상,하(행기준)*/
    grid-gap: 10px;
    grid-template-areas: 
        "list01 list02"
        "list03 list04"
        "list05 list06"
        "list07 list08"
        "list09 ."
}
.sec6 .center .sns ul li:first-child {
    grid-area: list01;
}
.sec6 .center .sns ul li:nth-child(2) {
    grid-area: list02;
}
.sec6 .center .sns ul li:nth-child(3) {
    grid-area: list03;
}
.sec6 .center .sns ul li:nth-child(4) {
    grid-area: list04;
}
.sec6 .center .sns ul li:nth-child(5) {
    grid-area: list05;
}
.sec6 .center .sns ul li:nth-child(6) {
    grid-area: list06;
}
.sec6 .center .sns ul li:nth-child(7) {
    grid-area: list07;
}
.sec6 .center .sns ul li:nth-child(8) {
    grid-area: list08;
}
.sec6 .center .sns ul li:last-child {
    grid-area: list09;
}

.sec6 .center .sns ul li a {
    /* 들여쓰기를 -9999px로 잡으면 글자가 브라우저에서 안보임 */
    text-indent: -9999px;
    background-color: #eee;
    border-radius: 20px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec6 .center a {
    color: #fff;
}
.sec6 .center .sns ul .sns1 a {
    background-image: url(../img/sns01.jpg);
}
.sec6 .center .sns ul .sns2 a {
    background-image: url(../img/sns02.jpg);
}
.sec6 .center .sns ul .sns3 a {
    background-image: url(../img/sns03.jpg);
}
.sec6 .center .sns ul .sns4 a {
    background-image: url(../img/sns04.jpg);
}
.sec6 .center .sns ul .sns5 a {
    background-image: url(../img/sns05.jpg);
}
.sec6 .center .sns ul .sns6 a {
    background-image: url(../img/sns06.jpg);
}
.sec6 .center .sns ul .sns7 a {
    background-image: url(../img/sns01.jpg);
}
.sec6 .center .sns ul .sns8 a {
    background-image: url(../img/sns01.jpg);
}
.sec6 .center .sns ul .sns9 a {
    background-image: url(../img/sns01.jpg);
}
/* section안에 ani 객체들이 서서히 나타나는 애니메이션 */
.ani {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s;
}
.ani.active {
    opacity: 1;
    transform: translateY(0);
}
.fistAni {
    transition-delay: 0s;
}
.secondAni {
    transition-delay: 0.5s;
}
.ani1 {
    transition-delay: 0.5s;
}
.ani2 {
    transition-delay: 0.55s;
}
.ani3 {
    transition-delay: 0.6s;
}
.ani4 {
    transition-delay: 0.65s;
}
.ani5 {
    transition-delay: 0.7s;
}
.ani6 {
    transition-delay: 0.75s;
}
.ani7 {
    transition-delay: 0.8s;
}
.ani8 {
    transition-delay: 0.85s;
}
.ani9 {
    transition-delay: 0.9s;
}






footer {
    padding:12.5vw 6vw 18vw;
    background-color: #aaa;
    color: #eee;
    font-size: 14px;
}
footer .f_logo {
    width: 45vw;
}
footer .info {
    margin-top: 8vw;
}
footer .info ul {
    display: flex;
    flex-flow: row nowrap;/*행기준,줄바꿈 허용*/
}
footer .info ul li a {
    color: black;
    font-size: 14px;
    padding-right: 25px;
    line-height: 30px;
    letter-spacing: -1px;
    
}
footer .info ul li:first-child a {
    font-weight: bold;
    color: black;
}
footer address {
    color: black;
    font-style: normal;
    margin-top: 10vw;
    line-height: 30px;
}


footer .family_site {
    width: 100%;
    margin-top: 60px;
    /* 자식객체 .family_list의 위치 설정할 때 기준이 됨*/
    position: relative;
}
footer .family_site a {
    color: black;
    font-size: 14px;
    padding: 10px;
    text-align: center;
}
footer .family_site > a {
    border: 1px solid white;
    font-size: 16px;
    position: relative;
}
/* 삼각형 화살표 */
footer .family_site > a:after {
    width: 0px;
    height: 0px;
    content: "";
    border-top: 10px solid #212121;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: 15px;
    right: 20px;
}
footer .family_site > a.active:after {
    transform: rotateZ(180deg);
}
footer .family_site .family_list {
    width: 100%;
    position: absolute;
    bottom: 44px;
    left: 0;
    display: none;
}
footer .family_site .family_list a {
    background-color: #eee;
    border: 1px solid white;
    border-bottom: none;
}
footer .family_site .family_list a:hover {
    background-color: #B0B4BA;
}
.top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 100%;
    background-color: white;
}





/* ========================================================================= */




/* 미디어쿼리-태블릿버전 */
@media screen and (min-width:768px) {
    .center {width:100%; margin: 0 auto;}
}


/* ========================================================================== */

/* 미디어쿼리-pc버전 */
@media screen and (min-width:1280px){
    /* 1440/1920*100 = 75% , 1200/1920*100 = 62.5%*/
    section .center {
        width: 1200px; 
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        gap: 20px;
    }
    header {
        height: 80px;
        padding: 0;
        box-sizing: border-box;
    }
    header .center {
        height: 80px;
    }
    header .center .logo{
        width: 160px;
        height: 20px;
    }
    header .center nav {
        position: relative;
        right: auto;
        left: auto;
        width: 35vw;
        top: auto;
        height: 60px;
        padding: 0;
        border-top: none;
        background-color: transparent;
        margin-top: 4px;
    }
    header .center nav > ul {
        display: flex;
        justify-content: space-between;
    }
    header .center nav > ul > li {
        position: relative;
    }
    header .center nav > ul > li > a{
        font-size: 1vw;
        padding: 1vw 1.4vw;
        color: #fff;
    }
    
    /* pc버전 서브메뉴 배경 */
    header .sub_bg {
        display: block;
        height: 0;
        border-top:1px solid #ddd ;
        position: absolute;
        top: 80px;
        background-color: #Fff;
        width: 100%;
        z-index: 90;
        opacity: 0;
        transition: all 0.5s;
    }

    header .sub_bg.active {
        height: 320px;
        opacity: 1;
    }
    header .center nav > ul > li > a {
        font-size: 0.8vw;
        padding: 1vw 0vw;
        color: #fff;
    }
    /* 메뉴에 마우스 오버했을 때 글자색 변경 */
    header .center nav ul li:hover > a {
        color: #AA1803;
    }
   
    header.minimize .center nav > ul > li:hover > a {
        color: #AA1803;
    }

    header.minimize .center nav > ul > li > a {
        color: #333;
    }
    /* 주메뉴 밑줄 애니메이션 */
    header .center nav > ul > li > a:after {
        content: "";
        position: absolute;
        width: 0;
        left: 50%;
        height: 2px;
        background-color: #AA1803;
        transform: translateY(36px);
        transition: all 0.5s;
    }
    header .minimize .center nav > ul > li:hover > a:after {
        left: 0;
        width: 100%;
    }
    header .center nav > ul > li > a:before {
        display: none;
    }
    
    header .center nav .sub {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: transparent;
        padding: 1vw 0vw;
        margin-bottom:0;
    }
    header .center nav .sub li a {
        font-size: 0.8vw;
        padding: 0.5vw 0;
        text-align: center;
        font-weight: bold;
    }
    header .center .top_menu{
        width: 3.4vw;
    }
    header .center .top_menu ul li {
        width: 1.4vw;
        height: auto;
    }
    /* pc버전 메인 슬라이드 */
    .sec2, .sec3, .sec4, .sec5, .sec6 {
        padding: 7vw 0vw;
    }
    .sec1 .swiper .s1{
        background-image: url(../img/slide1.jpg);
    }
    .sec1 .swiper .s2{
        background-image: url(../img/slide2.jpg);
    }
    .sec1 .swiper .s3{
        background-image: url(../img/slide3.jpg);
    }
    .sec2 .center {
        align-items: stretch;
    }
    .sec2 .center div {
        padding: 3vw;
    }
    .sec3 .center, .sec4 .center {
        position: relative;
        overflow: visible;
    }
    .sec3 .center .content,
    .sec4 .center .content {
        width: 40%;
    }
    .sec3 .center .content h2,
    .sec4 .center .content h2 {
        font-size: 2vw;
        margin-left: 0;
    }
    section .center div button a {
        color: #fff;
    }
    .sec3 .center .swiper,
    .sec4 .center .swiper {
        width: 60%;
        overflow: unset;  /*값 재설정*/
        /* 오른쪽 보이는 영역 확장 */
        clip-path: inset(0 -100vw 0 0);
        margin-top: 0;
    }
    .sec3 .center .swiper .swiper-slide h3 {
        font-size: 1.2vw;
        
    }
    .sec3 .center .swiper .swiper-slide p
    .sec4 .center .swiper .swiper-slide p {
        font-size: 1vw;
    }
    .sec4 .center .swiper .swiper-slide-span {
        font-size: 0.8vw;
    }
    /* prev 버튼, next 버튼 보임 */
    .sec3 .swiper-button-prev,
    .sec3 .swiper-button-next,
    .sec4 .swiper-button-prev,
    .sec4 .swiper-button-next {
        display: block;
        position: absolute;
        top: auto;
        left: 0; bottom: 0; right: auto;
        margin-top: 0;
        border: 1px solid #999;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        transition: all 0.3s;
    }
    .sec3 .swiper-button-next,
    .sec4 .swiper-button-next {
        left: 80px;
    }
    .sec3 .swiper-button-prev:hover,
    .sec3 .swiper-button-next:hover,
    .sec4 .swiper-button-prev:hover,
    .sec4 .swiper-button-next:hover {
        background-color: #333;
    }
    .sec3 .swiper-button-prev:after,
    .sec3 .swiper-button-next:after,
    .sec4 .swiper-button-prev:after,
    .sec4 .swiper-button-next:after {
        font-size: 20px;
        text-align: center;
        line-height: 60px;
        color: #000;
        font-weight: bold;
        width: 100%;
        display: block;
    }
    .sec3 .swiper-button-prev:hover:after,
    .sec3 .swiper-button-next:hover:after,
    .sec4 .swiper-button-prev:hover:after,
    .sec4 .swiper-button-next:hover:after {
        color: #fff;
    }
    /* progressbar 보임 */
    .sec3 .swiper .swiper-pagination,
    .sec4 .swiper .swiper-pagination {
        top: auto;
        bottom: 0;
        display: block;
    }
    .swiper-pagination-progressbar
    .swiper-pagination-progressbar-fill {
        background-color: #AA1803;
    }



    /* section 안에 div 애니메이션 대기시간 */
    .fistAni {
        transition-delay: 0s;
    }
    .secondAni {
        transition-delay: 0s;
    }
    .sec5 .center {
        align-items: flex-start;
    }
    section .center h2 {
        font-size: 2vw;
        white-space: nowrap;
        margin-left: 0;
    }
    .sec5 p {
        font-size: 1.5vw;
        white-space: nowrap;
    }
    .sec5 b {
        font-size: 1.5vw;
    }
   
    .sec5 .statis ul li p {
        font-size: 22px;
    }
    .sec5 .statis ul li {
        justify-content: space-between;
    }
    .sec5 .statis ul li div:first-child {
        display: flex;
        align-items: center;
        padding: 1.2vw 0;
        margin-left: 0;
    }
    .sec5 .statis ul li div img {
        margin-right: 10px;
    }
    
    .sec5 .statis ul li div span {
        font-size: 4vw;
    }
    .sec6 .center .content {
        position: absolute;
        left: 0;
        top: 0;
    }
    .sec6 .center {
        position: relative;
    }
    .sec6 .center .sns {
        margin-top: 0;
        width: 85%;
    }
    .sec6 .center .sns ul {
        padding: 2vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(150px, auto);
        grid-gap:20px;
        grid-template-areas: 
            ". . . list01"
            ". . list02 list03"
            ". list04 list05 list06"
            "list07 list08 list09 .";
    }
    /* .sec6 영역 사각형 객체에 마우스 오버하면 그림자 나옴 */
    .sec6 .center .sns ul li a {
        transition: all 0.3s;
    }
    .sec6 .center .sns ul li a:hover {
        transform: translate(-5px, -5px);
        transition: all 0.3s;
        box-shadow: 5px 7px 12px rgba(0, 0, 0, 0.3);
    }
    footer {
        padding: 5vw 0;
    }
    footer .center {
        width: 1200px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
    }
    footer .center .f_logo {
        width: 13vw;
    }
    footer .center .info {
        margin-top: 3vw;
    }
    footer .center .info ul li a {
        font-size: 1vw;
    }
    footer .center address {
        margin-top: 3vw;
    }
   footer .footer2 {
    width: 12vw;
   }

    







}